services:
  app:
    build:
      context: ..
      dockerfile: interview-questions-api/Dockerfile
    ports:
      - "3030:3000"
    environment:
      NODE_ENV: prod
    restart: unless-stopped
    image: interview-questions-api
    container_name: interview-questions-api
